body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(47, 147, 194, 0.439);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #e8e8e8;
    width: 100%;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family:"Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 1px solid green;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #43a047;
}

.form .message {
    margin: 15px 0 0;
    color: rgb(240, 255, 240);
    font-size: 16px;
}

.form .message a {
    color: #00df64;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

#listUsersWrapper {
    display: none;
    position: relative;
    z-index: 1;
    border: 1px solid white;
    background: rgba(47, 147, 194, 0.439);
    max-width: 35vw;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
}

#listUsersWrapper ul {
    list-style-type: none;
    font-size: 26px;
    counter-reset: item;
}

#listUsersWrapper ul li{
    display: block;
    margin: 7px;
}

#listUsersWrapper ul li::before{
    content: counters(item, ".")". ";
  counter-increment: item;
}

.deleteUser {
    font-size: 20px;
    border-radius: 5px;
    background: rgb(163, 30, 30);
}

.edit {
    display: none;
}

.editUser {
    font-size: 20px;
    border-radius: 5px;
    padding: 0;
    margin: none;
}